<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="responsive-container">
    <%= render 'partials/navheader' %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav links">
        <li class="active"><%= link_to 'Home', user_root_path %></li>
        <li><%= link_to 'Comparison', comparison_path %></li>
        <li><%= link_to 'Markets', markets_path %></li>
        <li><%= link_to 'BitCoin', bitcoin_path %></li>
      </ul>
      <%= render 'partials/rightnav' %>
    </div>
  </div>
</nav>

<div class="top-view">
  <div class="left-details">
    <h1><%= @data[0].name.gsub('"', '') %></h1>
    <hr>
    <!-- TODO: Ensure that data is pulled from a database -->
    <small><%= $stock[:description] %></small>
    <p>
      <!-- Extended information goes here -->
    </p>
  </div>
  <div class="right-chart">
    <div class="last-price">
      <small>Last Trade Price</small>
      <% if @data[0].last_trade_price == 'N/A' %>
          <h4>Not Currently Trading</h4>
      <% else %>
          <h4>$ <%= @data[0].last_trade_price %>
            <% if @data[0].change.include? '+' %>
                <small style="color: #2ECC40;">
            <% else %>
                <small style="color: #FF4136;">
            <% end %>
            <%= @data[0].change %></small></h4>
      <% end %>
    </div>
    <div class="graph-wrap">
      <div id="graphdiv"></div>
    </div>
  </div>
</div>

<div class="latest-info">
  <div class="inline-bar clearfix">
    <h3>Stock Information</h3>
    <%= follow_link($stock) %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="rounded-container">
        <h4>Latest Ask</h4>
        <h5 class="status-right"><%= @data[0].ask %></h5>
      </div>
      <div class="rounded-container">
        <h4>Latest Bid</h4>
        <h5 class="status-right"><%= @data[0].bid %></h5>
      </div>
      <div class="rounded-container">
        <h4>Open</h4>
        <h5 class="status-right"><%= @data[0].open %></h5>
      </div>
      <div class="rounded-container">
        <h4>Close</h4>
        <h5 class="status-right"><%= @data[0].close %></h5>
      </div>
    </div>
    <div class="row">
      <div class="rounded-container">
        <h4>Volume</h4>
        <h5 class="status-right"><%= number_with_delimiter(@data[0].volume, :delimiter => ',') %></h5>
      </div>
      <div class="rounded-container">
        <h4>Dividend Yield</h4>
        <h5 class="status-right"><%= @data[0].dividend_yield %></h5>
      </div>
      <div class="rounded-container">
        <h4>Market Cap</h4>
        <h5 class="status-right"><%= @data[0].market_capitalization %></h5>
      </div>
      <div class="rounded-container">
        <h4>Change</h4>
        <h5 class="status-right"><%= @data[0].change_in_percent %></h5>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var array = <%= raw @input.to_s.gsub('(', '("').gsub(')"', '")').gsub('["', '[') %>
            graph = new Dygraph(document.getElementById("graphdiv"), array.reduce(function (a, b) {
                return "" + a + "\n" + b;
            }), {
                labels: ['Year', 'High', 'Low'],
                colors: ["#2ECC40", "#FF4136"],
                axisLineColor: '#AAAAAA',
                axisLabelColor: '#AAAAAA'
            });
</script>